*{
	margin: 0;
	padding: 0;
}

.row{
	margin: 0 auto;
	max-width: 1180px;
}

body{
	font-family: tarhoma;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/schoolbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color: #FFFFFF;
}


h1:after{
	width: 100px;
	height: 2px;
	background-color: #e67e22;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;

}

.Stunavigation{
	margin-top: 1%;
	margin-left: 91%;
}

.Stunavigation a{
	border:1px solid #e67e22;
	background-color: transparent;
	border-radius: 10px;
	border-color: #e67e22;
	color: #e67e22;
	padding: 8px 20px;
	margin-right:25px;
	border-radius: 9px;
	text-decoration: none;
}

.Stunavigation a:hover{
	color: #FFFFFF;
	background-color: #e67e22;
	transition: 0.5s ;
	text-decoration: none;
}

#btIcons{
	color: #e67e22;
	font-size: 900%;
}

#parentlayout{
	margin-top: 80px;
	margin-left: 12%;	
}

.labelText{
	color: #FFFFFF;
	margin-right: 20px;
}

.container .row i:hover{
	color: #FFFFFF;

}

.container .row a{
	color: #e67e22;
}