*{
	margin: 0;
	padding: 0;
}

.row{
	margin: 0 auto;
	max-width: 1180px;
}

body{
	font-family: tarhoma;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/schoolbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1:after{
	width: 100px;
	height: 2px;
	background-color: #e67e22;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;

}

.loginform{
	align-content: center;
	margin-top: 100px;
	display: table;
	justify-content: center;

}

.textField{
	width: 250px;
}

#tfs{
	width: 250px;
}

a{
	text-decoration: none;
}

#btCancel{
	
	border:1px solid #e67e22;
	background-color: transparent;
	border-radius: 10px;
	border-color: #e67e22;
	color: #e67e22;
	padding: 8px 20px;
	margin-right:25px;
	border-radius: 9px;
	text-decoration: none;
	margin-bottom: 20px;
}

body h1{
	color: #FFFFFF;
}

.labelText{
	color: #FFFFFF;
}

#btCancel:hover{
	color: #FFFFFF;
	background-color: #e67e22;
	transition: 0.5s ;
}

#btChange{
	color: #FFFFFF;
	text-decoration: none;
	padding: 4px 12px;
	border-radius: 10px;
	border:1px solid #e67e22;
	background-color: #e67e22;
}

